/* CSS files add styling rules to your content */

body {
  font-family: "Gilroy" !important;
  padding: 40px;
  /* width: 100%;
  height: 100%; */
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column img {
  width: 70%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 80px;
  color: #00a0e0;
}

h2 {
  font-style: normal;
  font-size: 2em;
  color: gray;
}

.storebox {
  position: relative;
  margin: 15px 15px 1px 30px;
}

.stores-wrapper {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.store-image {
  margin: 20px;
}

.store-image img {
  height: 80px;
  border-radius: 15px;
}

.present_url {
  word-break: break-all;
  position: relative;
  padding: 40px;
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 1.5em;
  min-height: 200px;
  margin: 20px 0;
}

#output_url {
  word-break: break-all;
  position: relative;
  padding: 40px;
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 1.5em;
  min-height: 200px;
  margin: 20px 0;
}

.url-container {
  display: flex;
  flex-direction: column;
}

.input_url-container {
  display: flex;
  flex-direction: column;
}

.output_url-container {
  display: flex;
  margin: 40px 0;
  flex-direction: column;
}

.code_button {
  background-color: #00a0e1;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 10px;
}

.code_button:active {
  background: #2f6072;
  -webkit-box-shadow: inset 0px 0px 5px #5baac7;
  -moz-box-shadow: inset 0px 0px 5px #5baac7;
  box-shadow: inset 0px 0px 5px #5baac7;
  outline: none;
}

#my_qr_code_div_id canvas {
  height: 200px;
  width: 200px;
}
