/* CSS files add styling rules to your content */
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

@font-face {
  font-family: Gilroy;
  src: url(./fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(./fonts/Gilroy/Gilroy-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: "Gilroy" !important;
  background: #ffffff;
}

.content-container {
  padding-top: 40px;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 25px 40px;
  justify-content: flex-start;
  background-color: #434446;
}

.column img {
  width: 30%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 80px;
  color: #00a0e0;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.25em;
  line-height: 40px;
  color: #00a0e0;
}

h3 {
  font-style: normal;
  font-size: 1.5em;
  color: gray;
}

.storebox {
  position: relative;
  margin: 15px 15px 1px 30px;
}

.stores-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.store-image {
  margin: 15px;
  margin-left: 0;
  margin-right: 30px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 25px;
}

.store-image img {
  max-width: 8em;
  padding: 10px;
}

.present_url {
  word-break: break-all;
  position: relative;
  padding: 40px;
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 1.5em;
  margin: 20px 0;
}

#output_url {
  word-break: break-all;
  position: relative;
  padding: 20px 40px;
  border: 1px solid gray;
  border-radius: 15px;
  line-height: 1.3;
  font-size: 1em;
}

.url-container {
  display: flex;
  flex-direction: column;
}

.input_url-container {
  display: flex;
  flex-direction: column;
}

.output_url-container {
  display: flex;
  margin: 40px 0;
  flex-direction: column;
}

.output_url-container li {
  margin-bottom: 10px;
  font-size: 1.1em;
  line-height: 1.3;
}

.output_url-container code {
  color: red;
  background-color: #f6f6f6;
  padding: 2px;
  border: 1px solid grey;
  border-radius: 5px;
}

.code_button {
  background-color: #00a0e1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 10px;
}

.code_button:active {
  background: #2f6072;
  -webkit-box-shadow: inset 0px 0px 5px #5baac7;
  -moz-box-shadow: inset 0px 0px 5px #5baac7;
  box-shadow: inset 0px 0px 5px #5baac7;
  outline: none;
}

#my_qr_code_div_id canvas {
  height: 200px;
  width: 200px;
}
